.absoluteX-center {
  left: 50%;
  transform: translateX(-50%);
}
.absoluteY-center {
  top: 50%;
  transform: translateY(-50%);
}
.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.important-my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
