@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Frutiger LT Light';
  font-style: normal;
  font-weight: normal;
  src: local('Frutiger LT Light'),
    url('/frutiger-lt-cufonfonts-webfont/Frutiger-LT-45-Light.woff')
      format('woff');
}

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply border-gray-400 rounded-lg bg-transparent;
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    @apply border-gray-400 ring-gray-600;
  }

  [type='text']:hover,
  [type='email']:hover,
  [type='url']:hover,
  [type='password']:hover,
  [type='number']:hover,
  [type='date']:hover,
  [type='datetime-local']:hover,
  [type='month']:hover,
  [type='search']:hover,
  [type='tel']:hover,
  [type='time']:hover,
  [type='week']:hover,
  [multiple]:hover,
  textarea:hover,
  select:hover {
    @apply border-gray-600;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply border-gray-600 rounded-lg bg-transparent;
  }

  [type='checkbox']:hover,
  [type='radio']:hover {
    @apply border-gray-600;
  }

  [type='checkbox']:focus,
  [type='radio']:focus {
    @apply border-gray-400 ring-gray-600 ring-1;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer components {
  @import './custom-buttons.css';
}

@layer utilities {
  @import './custom-utilities.css';
}
