@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @import './theme.css';

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply border-base rounded-lg bg-transparent text-base;
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    @apply border-active ring-active;
  }

  [type='text']:hover,
  [type='email']:hover,
  [type='url']:hover,
  [type='password']:hover,
  [type='number']:hover,
  [type='date']:hover,
  [type='datetime-local']:hover,
  [type='month']:hover,
  [type='search']:hover,
  [type='tel']:hover,
  [type='time']:hover,
  [type='week']:hover,
  [multiple]:hover,
  textarea:hover,
  select:hover {
    @apply border-hover;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply border-base rounded-lg bg-transparent;
  }

  [type='checkbox']:hover,
  [type='radio']:hover {
    @apply border-hover;
  }

  [type='checkbox']:focus,
  [type='radio']:focus {
    @apply border-active ring-active ring-1;
  }
}

@layer components {
  @import './custom-buttons.css';
}

@layer utilities {
  @import './custom-utilities.css';
}
