.dark {
  /* background variables */
  --color-background-base: #000000;
  --color-background-accent: #000000;
  /* text variables*/
  --color-text-base: #eeebe6;
  --color-text-inverted: #0d1d22;
  --color-text-hover: #a0a0a0;
  --color-text-heading: #d6943c;
  /* border variables */
  --color-border-base: #25241e;
  --color-border-hover: #c4c4c4;
  --color-border-active: #ffffff;
  /* ring variables */
  --color-ring-base: #46443a;
  --color-ring-hover: #c4c4c4;
  --color-ring-active: #ffffff;
}

.light {
  /* background variables */
  --color-background-base: #000000;
  --color-background-accent: #000000;
  /* text variables*/
  --color-text-base: #d3d3d3;
  --color-text-inverted: var(--color-background-base);
  --color-text-hover: #c22124;
  --color-text-heading: #28abe8;
  /* border variables */
  --color-border-base: #131c3b;
  --color-border-hover: #154a68;
  --color-border-active: #117f8d;
  /* ring variables */
  --color-ring-base: #6580f9;
  --color-ring-hover: #212cc2;
  --color-ring-active: #1f758b;
}
