.dark {
  /* background variables */
  --color-background-base: #000000;
  --color-background-accent: #000000;
  /* text variables*/
  --color-text-base: #eeebe6;
  --color-text-inverted: #0d1d22;
  --color-text-hover: #865c2d;
  --color-text-heading: #ee9f91;
  /* border variables */
  --color-border-base: #25241e;
  --color-border-hover: #c4c4c4;
  --color-border-active: #ffffff;
  /* ring variables */
  --color-ring-base: #46443a;
  --color-ring-hover: #c4c4c4;
  --color-ring-active: #ffffff;
}

.light {
  /* background variables */
  --color-background-base: #000000;
  --color-background-accent: #000000;
  /* text variables*/
  --color-text-base: #d3d3d3;
  --color-text-inverted: var(--color-background-base);
  --color-text-hover: #2e92a3;
  --color-text-heading: #1f5d97;
  /* border variables */
  --color-border-base: #131c3b;
  --color-border-hover: #154a68;
  --color-border-active: #18c0d6;
  /* ring variables */
  --color-ring-base: #f9f665;
  --color-ring-hover: #2bccd1;
  --color-ring-active: #1f758b;
}
