.dark {
  /* background variables */
  --color-background-base: #000000;
  --color-background-accent: #000000;
  /* text variables*/
  --color-text-base: #eeebe6;
  --color-text-inverted: #0d1d22;
  --color-text-hover: #9e9e9e;
  --color-text-heading: #eeebe6;
  /* border variables */
  --color-border-base: #25241e;
  --color-border-hover: #c4c4c4;
  --color-border-active: #ffffff;
  /* ring variables */
  --color-ring-base: #46443a;
  --color-ring-hover: #c4c4c4;
  --color-ring-active: #ffffff;
}

.light {
  /* background variables */
  --color-background-base: #dbdbdb;
  --color-background-accent: #e4e4e4;
  /* text variables*/
  --color-text-base: #0f0f0f;
  --color-text-inverted: #ebebeb;
  --color-text-hover: #999999;
  --color-text-heading: #000000;
  /* border variables */
  --color-border-base: #949494;
  --color-border-hover: #c4c4c4;
  --color-border-active: #ffffff;
  /* ring variables */
  --color-ring-base: #535353;
  --color-ring-hover: #c4c4c4;
  --color-ring-active: #2e2e2e;
}
